/*
FONTS FAMILIES:
font-family: 'Convergence', sans-serif;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Montserrat', sans-serif;
*/

/* MEDIA QUERIES FORMATS */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

.App {
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

:root {
  --black-color: #000000;
  --greydark-color: #2F4550;
  --greymedium-color: #586F7C;
  --greylight-color: #B8DBD9;
  --white-color: #F4F4F9;
  --reddark-color: #A31621;
  --bluelight-color: #BFDBF7;
  --bluedark-color: #053C5E;
  --greenmedium-color: #1F7A8C;
  --redlight-color: #DB222A;
  --box-shadow: 0 1px 10px 5px #2F4550;
}

a {
  text-decoration: none;
  color: var(--greymedium_color);
}

li {
  list-style: none;
}

body {
  height: max-content;
}

#light {
  background-color: var(--white-color);
}

#dark {
 background-color: var(--black-color);
}

/* ----- NAVBAR ----- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 90vw;
  border-bottom: 0.1rem solid var(--greydark-color);
  z-index: 2;
  position: fixed;
  top: 5px;
}

.nav_links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.nav_links li a {
  margin: 0 1rem;
  cursor: pointer;
  text-transform: capitalize;
}

.theme_icon {
  color: #586F7C;
  font-size: 1.5rem;
  display: contents;
  cursor: pointer;
}

.menu_burger_icon {
  display: none;
  color: var(--greymedium-color);
  font-size: 1.5rem;
}

#light .nav_links_mobile {
  background-color: var(--white-color);
}

#dark .nav_links_mobile {
  background-color: var(--black-color);
}

/* ----- NAVBAR MEDIA QUERIES ----- */

@media (max-width: 768px) {

  .navbar {
    font-size: 1.3rem;
  }

  .nav_links {
    display: none;
  }

  .nav_links_mobile {
    position: absolute;
    display: block;
    left: 0;
    top: 5vh;
    width: 100%;
    z-index: 10;
  }


  .nav_links_mobile li {
    padding: 2rem 0;
    width: 100vw;
    text-align: center;
  }

  .menu_burger_icon {
    position: absolute;
    display: contents;
  }
}

/* ----- MAIN ----- */

.main {
  z-index: 1;
}

/* ----- HOME ----- */

.home_view {
  height: 100vh;
}

.home_text {
  top: 20vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.danielrondon_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 1.5rem;
  text-align: center;
}

#light .danielrondon_text {
  color: var(--black-color)
}

#dark .danielrondon_text {
  color: var(--white-color)
}

.fullstack_webdev_text {
  color: var(--greenmedium-color);
  font-family: 'Convergence', sans-serif;
  font-size: 1.5rem;
  position: relative;
}

/* ----- HOME MEDIA QUERIES ----- */

@media (min-width: 768px) {
  
  .danielrondon_text {
    font-size: 4rem;
  }

  .fullstack_webdev_text {
    font-size: 2rem;
  }
}

/* ----- ABOUT ----- */

.about_view {
  height: 100vh;
  width: 50vw;
  margin: 0 auto;
}

.about_text {
  position: relative;
  line-height: 1.5;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60vw, auto));
  gap: 0 5rem;
}

.about_fromA {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 1rem;
}

#light .about_fromA {
  color: var(--greydark-color)
}

#dark .about_fromA {
  color: var(--greylight-color);
}

.about_IPoss {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight:800;
  font-style: italic;
  margin: 3vh 0;
  border: 1px solid var(--redlight-color);
  padding: 1.2rem;
}

#light .about_IPoss {
  color: var(--black-color)
}

#dark .about_IPoss {
  color: var(--white-color);
}

.about_photoText {
  position: relative;
  display: flex;
  flex-direction: column;
}

.circle_container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid var(--greenmedium-color);
  margin: 0 auto;
}

.circle_container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about_cleanDes {
  font-family: 'Josefin Slab', serif;
  font-size: 1rem;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

#light .about_cleanDes {
  color: var(--greymedium-color);
}

#dark .about_cleanDes {
  color: var(--greylight-color);
}

/* ----- ABOUT MEDIA QUERIES ----- */

@media (min-width: 768px) {
  
  .about_fromA {
    font-size: 1.5rem;
  }

  .about_IPoss {
    font-size: 2rem;
  }

  .about_text {
    display: flex;
    align-items: center;
  }

  .circle_container {
    width: 300px;
    height: 300px;
  }

  .about_cleanDes {
    font-size: 1.5rem;
    width: 100%;
  }
}

/* ----- PROJECTS ----- */

.projects_view {
  position: relative;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.one_project {
  margin-bottom: 10rem;
}

.mockups_set {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60vw, auto));
  gap: 2rem;
  justify-items: center;
}

.iphone_mockup {
  width: 50vw;
}

.ipad_mockup {
  width: 60vw;
}

.project_header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.project_info {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 1.1rem;
  line-height: 1.7rem;
  margin: 2rem 0;
  width: 100%;
}

#light .project_info {
  color: var(--greydark-color);
}

#dark .project_info {
  color: var(--greylight-color);
}

.launch_btn {
  color: var(--greenmedium-color);
  font-size: 1.5rem;
}

/* ----- PROJECTS MEDIA QUERIES ----- */

@media (min-width: 768px) {

  .projects_view {
    display: flex;
  }

  .project_info {
    font-size: 1.3rem;
  }

  .mockups_set {
    position: relative;
    display: flex;
    max-width: 100%;
  }

  .iphone_mockup {
    width: 23%;
    height: auto;
  }

  .ipad_mockup {
    width: 48%;
    height: auto;
  }
}

/* ----- TECH STACK ----- */

.techStack_view {
  height: 100vh;
  position: relative;
  width: 70vw;
}

.tech_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60vw, auto));
  gap: 2rem;
  justify-items: center;
}

.tools_letters {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 1.1rem;
  color: var(--redlight-color);
  display: inline;
  margin: 0 1rem;
}

.frontend_card {
  text-align: start;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  width: 200px;
  height: 200px;
  border: 0.1rem solid var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.backend_card {
  text-align: end;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  width: 200px;
  height: 200px;
  border: 0.1rem solid var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* ----- TECH STACK MEDIA QUERIES ----- */

@media (min-width: 768px) {

  .tools_letters {
    font-size: 1.5rem;
  }

  .tech_cards {
    display: flex;
    justify-content: space-between;
  }

  .frontend_card {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .backend_card {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

}

/* ----- OTHER COMPONENTS ----- */

.social_media_bar {
  font-size: 1.3rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 1.5rem;
  bottom: 2rem;
  color: var(--greydark-color);
  stroke: var(--greydark-color);
  gap: 1rem;
}

/* ----- SECTION TITLES ----- */

.big_title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 4rem;
}

#light .big_title {
  color: var(--black-color);
}

#dark .big_title {
  color: var(--white-color);
}

.medium_title {
  font-family: 'Convergence', sans-serif;
  font-size: 1.5rem;
  color: var(--greenmedium-color);
}

.to_center {
  text-align: center;
}

.to_right {
  text-align: end;
}

/* ----- SECTION TITLES MEDIA QUERIES ----- */

@media (min-width: 768px) {

  .big_title {
    font-size: 3rem;
  }

  .medium_title {
    font-size: 2rem;
  }

}

/* ----- DIVS POSITIONING ----- */

/* .centered_div {
  display: flex;
  justify-content: center;
  align-items: center;
} */